body{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 50px;
    background: #333;
    z-index: 5;
}

/* hide hamburger */
#navbar label, #hamburger {
    display: none;
  }

/* menu items*/

#navbar ul{
    list-style-type: none;    
    text-align: center;
}

#navbar ul li{
    display: inline-block;
    padding: 6px;
    font-size: 20px;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    border: 1px solid #646d7c;
    padding: 10px 15px 10px 15px;
}

@media screen and (max-width: 768px){
    /*show hamburger*/
    #navbar label{
        display: inline-block;
        color: white;
        padding: 10px;
        background: #333;  
        margin-bottom: 5px;
        overflow: hidden;
    }
    #navbar ul li {
        display: block;
        border-bottom: 1px solid #999;
        font-size: 16px;
        background: #333;
      }

    #navbar label  {
        position: relative;
        float: right;
        margin-right: 25px;
        margin-top: 5px;
        padding: 5px;
        font-size: 20px;
        transform: scale(1.5,1);
        border-radius: 5px;  
   
    }

    #navbar ul li a{        
        border: none;
        padding: 10px 0;
        display: block;
    }

    #navbar{
        background: none;
    }

    #nav{
        padding-left: 0;
        margin-bottom: 0;
        background: none;
        border: none;
    }

    #navbar ul {
        display: none;
        margin: auto;
        width: 90%;
        /* background: #333; */
        margin-top: 45px;   
    }
    #navbar input:checked ~ ul {
        display: block;
      }
      header{
        padding-top: 0;
      }

}

/*hero image*/
#section-1{
    background-image: url(./img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 73vh;
    padding: 0 15px;
    padding: 20px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

/* #section-1{

    padding: 20px 0 70px 0;
}
#hero-image{
    background-image: url(./img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 73vh;
    padding: 0 15px;
} */

#hero-text {
    color: white;
    position: relative;
    top: 70%;
    text-align: center;
    letter-spacing: 8px;
  }

#hero-text h1{
    font-size: 70px;
    text-shadow: 2px 2px #000;
}

#hero-text h4{
    font-size: 25px;
    text-shadow: 1px 1px #333;
}
.section-2-container{
    max-width: 80%;
    margin: auto;   
    display: flex;
    flex-wrap: wrap;
}

.section-2-container h2, p{
    padding: 0 15px 0 15px;
    line-height: 1.6em;
}

.section-2-container div{
    /* border: 1px solid black; */
    /* padding: 10px; */
}
.section-2-column1, .section-2-column2, .section-2-column3{
    flex: 1;
    background: #F2F2F2;
    /* margin: 10px; */
    font-size: 1em;
    text-align: left;
    margin-right: 42px;
}
.section-2-column1 h2{
    color: #178A27;
}
.section-2-column2 h2{
    color: #1686C1;
}
.section-2-column3 h2{
    color: #666666;
}

#section-2{
    padding-top: 70px;
    display: flex; 
}

.section-2-button{
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

.section-2-button{
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 18px;
    color: white;
}

.buttoncontainer{
    text-align:center;
}

.green-button{
    background-color: #178A27;
}

.seedetails-button{
    background-color: #31B0D5;
}

.red-button{
    background-color: #C9302C;
}